
<div id="content-header">
    <h1>Grid Layout</h1>
    <div class="btn-group">
        <a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
        <a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
        <a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
        <a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
    </div>
</div>
<div id="breadcrumb">
    <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
    <a href="#" class="current">Domains</a>
</div>
<div class="container-fluid">
    <div class="row-fluid" ng-show="joinedDivStep == 1">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-th"></i>
                    </span>
                    <h5>Joined Domains</h5>
                </div>
                <div class="widget-content nopadding">
                    <span ng-init="joinedDomains = getJoinedDomains()"></span>
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>UUID <i class="fa fa-tag"></i></th>
                                <th>Domain <i class="fa fa-sort"></i></th>
                                <th>Role <i class="fa fa-sort"></i></th>
                                <th>Owner <i class="fa fa-sort"></i></th>
                                <th>Actions <i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="domainCredential in joinedDomains">
                                <td>{{domainCredential.uuid}}</td>
                                <td>{{domainCredential.domain.name}}</td>
                                <td>{{domainCredential.role.name}}</td>
                                <td>{{domainCredential.domain.owner.firstName}} {{domainCredential.domain.owner.lastName}}</td>
                                <td style="text-align: center">
                                    <a href="" class="tip-top" ng-click="showJoinedDomainDetails(domainCredential.uuid)" data-original-title="View"><i class="icon-eye-open"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>							
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid" ng-show="joinedDivStep == 2">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-th"></i>
                    </span>
                    <h5>Domain Details</h5>
                </div>
                <div class="widget-content">
                    <div class="form-horizontal">
                        <div class="control-group">
                            <label><b>UUID</b></label>
                            <label> {{joinedDomain.uuid}}</label>
                            <br />
                        </div>
                        <div class="control-group">
                            <label><b>Name</b></label>
                            <label>{{joinedDomain.domain.name}}</label>
                            <br />
                        </div>
                        <div class="control-group">
                            <label><b>Role Name</b></label>
                            <label>{{joinedDomain.role.name}}</label>
                            <br />
                        </div>
                        <div class="control-group">
                            <label><b>Role Level</b></label>
                            <label>{{joinedDomain.role.level}}</label>
                            <br />
                        </div>
                        <div class="control-group">
                            <label ><b>Owner Name</b></label>
                            <label >{{joinedDomain.domain.owner.firstName}} {{joinedDomain.domain.owner.lastName}}</label>
                            <br />
                        </div>
                        <div class="control-group">
                            <label ><b>Owner Email</b></label>
                            <label>{{joinedDomain.domain.owner.email}}</label>
                            <br />
                        </div>
                        <div class="control-group">
                            <label ><b>Joined Date</b></label>
                            <label >{{joinedDomain.dateCreated}}</label>
                            <br />
                        </div>

                        <div class="form-actions">
                            <button class="btn" ng-click="showJoinedDomainList(1)">Back</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

