
<div id="content-header">
    <h1>Grid Layout</h1>
    <div class="btn-group">
        <a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
        <a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
        <a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
        <a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
    </div>
</div>
<div id="breadcrumb">
    <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
    <a href="#" class="current">Domains</a>
</div>
<div class="container-fluid">
    <div>
        <alert ng-repeat="alert in domainAlerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <!--<button class='btn btn-default' ng-click="createAlert()">Add Alert</button>-->
    </div>
    <div class="row-fluid" ng-show="ownedDivStep == 1">
        <div class="span12">
            <br />
            <button class="btn btn-success" ng-click="showOwnedDomainCreateForm()">New Domain</button>
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-th"></i>
                    </span>
                    <h5>Owned Domains</h5>
                </div>
                <div class="widget-content nopadding">
                    <span ng-init="ownedDomains = getOwnedDomains()" ></span>
                    <span ng-init="ownedDomain = getDomainByUuid('70f4b4b0-18d2-4707-824b-b30af193d99b')"></span>
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>UUID <i class="fa fa-tag"></i></th>
                                <th>Name<i class="fa fa-sort"></i></th>
                                <th>Description<i class="fa fa-sort"></i></th>
                                <th>Status <i class="fa fa-sort"></i></th>
                                <th>Created<i class="fa fa-sort"></i></th>
                                <th>Actions<i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="domain in ownedDomains">
                                <td>{{domain.uuid}}</td>
                                <td>{{domain.name}}</td>
                                <td>{{domain.description}}</td>
                                <td>{{domain.status}}</td>
                                <td>{{domain.dateCreated}}</td>
                                <td style="text-align: center">
                                    <a href="" class="tip-top" ng-click="showOwnedDomainUpdateForm(domain)" data-original-title="View"><i class="icon-pencil"></i></a>
                                    <a href="" class="tip-top" ng-click="open(domain)" data-original-title="Delete"><i class="icon-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>								
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid" ng-show="ownedDivStep == 2">
        <div class="span8">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-align-justify"></i>									
                    </span>
                    <h5>Owned Domains</h5>
                </div>
                <div ng-submit="create()" class="widget-content nopadding">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">Name</label>
                            <div class="controls">
                                <input type="text" ng-model="ownedDomain.name"/>
                                <span class="help-block">Name cannot be updated</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Description</label>
                            <div class="controls">
                                <input type="text" ng-model="ownedDomain.description"/>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success">Create</button>
                            <button type="button" class="btn" ng-click="showOwnedDomainsList()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>						
        </div>
    </div>

    <div class="row-fluid" ng-show="ownedDivStep == 3">
        <div class="span8">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-align-justify"></i>									
                    </span>
                    <h5>Owned Domains</h5>
                </div>
                <div ng-submit="update()" class="widget-content nopadding">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">Name</label>
                            <div class="controls">
                                <input type="text" ng-model="ownedDomain.name" ng-disabled="true"/>
                                <span class="help-block">Name cannot be updated</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Description</label>
                            <div class="controls">
                                <input type="text" ng-model="ownedDomain.description"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Status</label>
                            <div class="controls">
                                <select ng-options="status for status in domainStatuses" ng-model="ownedDomain.status">
                                </select>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <button type="button" class="btn" ng-click="showOwnedDomainsList()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>						
        </div>
    </div>

</div>

